fastapi
uvicorn[standard]
streamlit

python-multipart

pymongo
dnspython
dotenv

langchain
langchain-community
langchain-mongodb
langchain-core
langchain-groq
langchain_huggingface

langgraph
duckduckgo-search
google-auth-oauthlib
google-api-python-client
tavily

pytz
dateparser

sentence-transformers
huggingface-hub

pypdf

python-dotenv

gunicorn
